<header class="navbar navbar-expand-md p-0 shadow fixed-top">
    <nav class="container-xxl">
        <button class="navbar-toggler d-md-none p-0" style="border:none;box-shadow:none;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar1" aria-controls="offcanvasNavbar1">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="nav-brand" href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa">
            <img src="../../../assets/imgs/APLogo.png" alt="Argentina Programa" title="Argentina Programa" width="80" height="40" class="object-fit-contain">
        </a>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar1" aria-labelledby="offcanvasNavbar1Label">
            <div class="offcanvas-header">
                <a class="offcanvas-title pe-5" id="offcanvasNavbarLabel1" href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa">
                    <img src="../../../assets/imgs/APLogo.png" alt="Argentina Programa" title="Argentina Programa" width="80" height="40" class="object-fit-contain">
                </a>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#About-section">Acerca De</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Education-section">Educación</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Experiences-section">Experiencia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Skills-section">HyS Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Projects-section">Proyectos</a>
                    </li>
                </ul>
            </div>
        </div>
        <button class="navbar-toggler d-md-none p-0" style="border:none;box-shadow:none;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2">
            <i class="fa-solid fa-house"></i>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title fw-bold pe-5" id="offcanvasNavbar2Label">Alan Duhalde</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body ms-md-auto">
                <ul class="navbar-nav flex-row flex-wrap">
                    <li class="nav-item col-6 col-md-auto">
                        <a class="nav-link px-2" href="https://twitter.com/Ulitan__" title="Twitter">
                            <i class="fa-brands fa-twitter"></i><span class="btnText d-md-none">Twitter</span>
                        </a>
                    </li>
                    <li class="nav-item col-6 col-md-auto">
                        <a class="nav-link px-2" href="https://github.com/AlanDuh" title="GitHub">
                            <i class="fa-brands fa-github"></i><span class="btnText d-md-none">GitHub</span>
                        </a>
                    </li>
                    <li class="nav-item col-6 col-md-auto">
                        <a class="nav-link px-2" href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSMScTTxxbpmBtGBHvCLQCgjlnGBZlLpjvnwvFmkLtSffmrcSWrnlQCSVpHnmgmhxmZtSsWM" title="Mail">
                            <i class="fa-solid fa-envelope"></i><span class="btnText d-md-none">Email</span>
                        </a>
                    </li>
                    <li class="nav-item py-2 col-12 col-md-auto">
                        <div class="vr d-flex h-100 mx-2 d-none d-md-flex"></div>
                        <hr class="my-2 d-md-none">
                    </li>
                    <li class="nav-item logIn-modalButton col-6 col-md-auto">
                        <a class="nav-link px-2" data-bs-toggle="modal" data-bs-target="#LogIn-modal" title="LogIn">
                            <i class="fa-solid fa-right-to-bracket"></i><span class="btnText d-md-none">LogIn</span>
                        </a>
                    </li>
                    <!-- <li class="nav-item logOut-button d-none col-6 col-md-auto">
                        <a class="nav-link px-2" title="LogOut">
                            <i class="fa-solid fa-right-from-bracket"></i><span class="btnText d-md-none">LogOut</span>
                        </a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>
</header>
