<div
    *ngIf="type !== 'voidHolder'"
    class="card mx-3 mt-4 p-0 shadow-sm overflow-hidden position-relative"
    ><div
        *ngIf="loged"
        class="card-header bg-white position-relative p-0"
        style="z-index: 1;"
        ><div class="d-flex justify-content-end">
            <button type="button" [ngClass]="{'disabled':loading}" class="btn border-0 y-button" title="Mover arriba" (click)="moveForward()">
                <i class="fa-solid fa-circle-chevron-up"></i>
            </button>
            <button type="button" [ngClass]="{'disabled':loading}" class="btn border-0 y-button" title="Mover abajo" (click)="moveBackward()">
                <i class="fa-solid fa-circle-chevron-down"></i>
            </button>
            <button type="button" [ngClass]="{'disabled':loading}" class="btn border-0 y-button" title="Editar" (click)="editCard()">
                <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button type="button" [ngClass]="{'disabled':loading}" title="Eliminar" class="btn border-0 r-button" (click)="deleteCard()">
                <i class="fa-solid fa-circle-xmark"></i>
            </button>
        </div>
    </div>
    <div
        class="card-img h-100 w-100 p-4 position-absolute"
        ><div class="opacity-25 h-100 w-auto d-none d-sm-flex justify-content-end">
            <img
                class="opacity-25 ratio ratio-1x1 w-auto h-100"
                [src]="bgImage"
            >
        </div>
    </div>
    <div
        class="card-body text-start position-relative"
        ><div
            class="d-flex justify-content-between align-items-center"
            ><div
                style="width: 80px; height: 40px;"
                *ngIf="card.institutionImage"
                ><img class="h-100 w-100 object-fit-contain" [src]="card.institutionImage.src">
            </div>
            <h3
            class="card-title d-inline-block m-0 text-end">
                {{card.concept}}
            </h3>
        </div>
        <hr class="px-2 my-2">
        <p class="py-2 m-0 card-text lh-sm">
            Titulo: <span class="text-muted">{{card.title}}</span>
        </p>
        <p class="py-2 m-0 card-text lh-sm">
            Institución: <span class="text-muted">{{card.institution}}</span>
        </p>
        <hr class="px-2 my-2">
        <p class="py-2 m-0 card-text lh-sm">
            <span *ngIf="card.date.type === 'finished'">Período: <span class="text-muted">{{generateDate(card.date.start)}} - {{generateDate(card.date.end)}}</span></span>
            <span *ngIf="card.date.type === 'in progress'">Período: <span class="text-muted">{{generateDate(card.date.start)}} - No Finalizado (en curso)</span></span>
            <span *ngIf="card.date.type === 'completion only'">Fecha de finalización: <span class="text-muted">{{generateDate(card.date.end)}}</span></span>
        </p>
        <p *ngIf="card.general" class="py-2 m-0 card-text lh-sm text-muted">
            {{card.general}}
        </p>
    </div>
</div>
<div
    class="card mx-3 mt-4 shadow-sm"
    *ngIf="type === 'voidHolder'"
    ><h6
        class="fw-bold p-3 m-0 text-center">
        No hay nada aquí
    </h6>
</div>