<h2 class="fw-bold mb-3 d-flex align-items-center justify-content-center">
    {{sectionTitle}}
    <span
        *ngIf="loged"
        [ngClass]="{'disabled':loading}"
        class="btn py-0 border-0 y-button"
        (click)="addCard()"
        ><i
            class="fa-solid fa-circle-plus"
        ></i>
    </span>
</h2>
<app-educ-exp-card
    [type]="type"
    [card]="card"
    [loged]="loged"
    [index]="cardsContainer.indexOf(card)"
    [loading]="loading"
    [dragging]="dragging"
    (startDrag)="onDragStart($event)"
    (enterDrag)="onDragEnter($event)"
    (endDrag)="onDragEnd()"
    (setLoading)="setLoading.emit($event)"
    (cardMove)="moveCard($event.from, $event.to, $event.updateDb)"
    *ngFor="let card of cardsContainer"
></app-educ-exp-card>
<app-void-holder
    *ngIf="cardsContainer.length === 0"
></app-void-holder>
