<app-header></app-header>
<main class="container-xxl p-0">
    <app-about [loading]="loading"></app-about>
    <div class="d-flex flex-row flex-wrap">
        <section class="col-12 col-md-6 mt-5 smooth-text">
            <app-education-experiences [loading]="loading" (setLoading)="Loading = $event" [type]="'education'"></app-education-experiences>
        </section>
        <section class="col-12 col-md-6 mt-5 smooth-text">
            <app-education-experiences [loading]="loading" (setLoading)="Loading = $event" [type]="'experiences'"></app-education-experiences>
        </section>
    </div>
    <section class="col-12 mt-5 smooth-text">
        <app-hard-skills></app-hard-skills>
    </section>
    <section class="col-12 mt-5 smooth-text">
        <app-soft-skills></app-soft-skills>
    </section>
</main>
<app-alerts-container></app-alerts-container>