/* You can add global styles to this file, and also import other style files */
main {
    margin-top: 40px;
}

.extra {
    top: -40px;
    z-index: -1;
}

.smooth-text {
    color: #444;
}

.r-button {
    color: rgba(var(--bs-danger-rgb));
    transition: color 0.5s;
    border: none !important;
}

.y-button {
    color: rgba(var(--bs-warning-rgb));
    transition: color 0.5s;
    border: none !important;
}

.r-button:hover {
    color: #999;
}

.y-button:hover {
    color: #999;
}